.App {
  text-align: center;
  padding: 32px;
}

.App-content {
  max-width: 600px;
  margin: 32px auto;
}

.App-link {
  font-size: 2em;
  background-color: #282c34;
  color: #61dafb;
  padding: 16px 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
